@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
/*--------------------*/
/* Custom properties  */
/*--------------------*/
:root {
  /* colors */
  --clr-primary: 176, 50%, 47%;
  --clr-secondary: 176, 72%, 28%;
  --clr-dark: 0, 0%, 0%;
  --clr-light: 0, 0%, 48%;
  --clr-white: 0, 0%, 100%;
  --clr-border: 0, 0%, 48%, 0.5;
  /* font-sizes */
  --fs-700: 2rem;
  --fs-600: 1.375rem;
  --fs-500: 1.125rem;
  --fs-400: 0.875rem;
  /* font-families */
  --ff-sans: "Commissioner", sans-serif;
}

@media (min-width: 600px) {
  :root {
    --fs-700: 2.25rem;
    --fs-600: 1.75rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}
/*
@media (min-width: 992px) {
  :root {
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
} */
/*--------------------*/
/* Base               */
/*--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  background-color: hsl(var(--clr-light), 0.05);
  color: hsl(var(--clr-light));
  line-height: 1.5;
  min-height: 100vh;
}

::-moz-selection {
  background-color: hsl(var(--clr-light));
  color: hsl(var(--clr-white));
}

::selection {
  background-color: hsl(var(--clr-light));
  color: hsl(var(--clr-white));
}

img,
source[type="image/webp"] {
  display: inline-block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
}

button:hover,
a:hover {
  opacity: 0.8;
}

.prod a:hover,
.success a:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in;
}

.selection button:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in;
}

span {
  line-height: 1;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*--------------------*/
/* Utility classes    */
/*--------------------*/
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.jcfe {
  justify-content: flex-end;
}

.aic {
  align-items: center;
}

.aifs {
  align-items: flex-start;
}

.container {
  position: relative;
  padding-inline: 1.5rem;
  margin-inline: auto;
  max-width: 30rem;
}

@media (min-width: 600px) {
  .container {
    max-width: 50rem;
  }
}
.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 2.5rem);
}

.flow--space-m {
  --flow-space: 1.5rem;
}

.text-center {
  text-align: center;
}

.block {
  display: block;
}

/* Sreen Reader Only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */
.bg-primary {
  background-color: hsl(var(--clr-primary));
}

.bg-secondary {
  background-color: hsl(var(--clr-secondary));
}

.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-light {
  background-color: hsl(var(--clr-light));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-primary {
  color: hsl(var(--clr-primary));
}

.text-secondary {
  color: hsl(var(--clr-secondary));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-white {
  color: hsl(var(--clr-white));
}

/* typography */
.ff-sans {
  font-family: var(--ff-serif);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

.rounded {
  border-radius: 10px;
}

.shadow {
  box-shadow: 15px 15px 40px hsla(0deg, 0%, 41%, 0.45);
}

/*--------------------*/
/* Components         */
/*--------------------*/
.btn {
  padding: 1rem 2.75rem;
  border-radius: 100px;
  background-color: hsl(var(--clr-primary));
  color: hsl(var(--clr-white));
  font-weight: 700;
  border: none;
  font-size: var(--fs-400);
}

.btn-s {
  padding-inline: 1.5rem;
}
@media (min-width: 600px) {
  .btn-s {
    padding-inline: 2rem;
  }
}

.btn:hover {
  background-color: hsl(var(--clr-secondary));
}

.plan-card {
  padding: 2rem 1.5rem;
  background: hsl(var(--clr-white));
  border: 2px solid hsl(var(--clr-border));
  border-radius: 10px;
}

.plan-card + .plan-card {
  margin-top: 2rem;
}

.plan-card p:nth-last-of-type(1) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.unavailable {
  opacity: 0.5;
}

/*--------------------*/
/* Header             */
/*--------------------*/
.hero-img {
  height: 300px;
  background: url(../images/image-hero-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: top center;
}
@media (min-width: 600px) {
  .hero-img {
    height: 400px;
    background: url(../images/image-hero-desktop.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
  }
}

.primary-header nav {
  position: absolute;
  z-index: 500;
  padding: 1.5rem;
  width: 100%;
}
@media (min-width: 600px) {
  .primary-header nav {
    max-width: 75rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    padding: 2.5rem;
  }
}

.navbar {
  font-size: 1rem;
}
@media (max-width: 600px) {
  .navbar {
    position: absolute;
    top: 5rem;
    left: 1.5rem;
    right: 1.5rem;
    background-color: hsl(var(--clr-white));
    border-radius: 10px;
  }
  .navbar a {
    display: block;
    padding: 1rem;
  }
  .navbar li {
    padding: 0.5rem;
  }
  .navbar li + li {
    border-top: 1px solid hsl(var(--clr-light), 0.15);
  }
}
@media (min-width: 600px) {
  .navbar {
    display: flex;
    gap: 1rem;
  }
  .navbar a {
    color: hsl(var(--clr-white));
  }
}

.navbar-toggle {
  width: 1.25rem;
  aspect-ratio: 1;
  background: url(../images/icon-hamburger.svg) no-repeat;
  background-position: center center;
  border: none;
}
@media (min-width: 600px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-toggle[aria-expanded=true] {
  background: url(../images/icon-close-menu.svg) no-repeat;
  background-position: center center;
}

@media (max-width: 600px) {
  .navbar[data-hidden] {
    display: none;
  }
}
.bg-linear::after {
  position: absolute;
  z-index: 400;
  content: "";
  inset: 0 0 0 0;
  height: 100%;
  background: linear-gradient(180deg, hsla(0deg, 0%, 0%, 0.5) 20%, transparent 90%);
}

.bg-shade::after {
  position: fixed;
  z-index: 5;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0deg, 0%, 0%, 0.25) 20%;
}

/*--------------------*/
/* Main               */
/*--------------------*/
.container > *:where(:not(:first-child)),
.prod > *:where(:not(:first-child)) {
  margin-block: 2rem;
  padding: 2.5rem 1.5rem;
}
@media (min-width: 600px) {
  .container > *:where(:not(:first-child)),
.prod > *:where(:not(:first-child)) {
    padding: 3.5rem 3rem;
  }
}

.prod-summary {
  position: relative;
  margin-top: -3.5rem;
  padding: 2.5rem 1.5rem;
}
@media (min-width: 600px) {
  .prod-summary {
    margin-top: -6rem;
    padding: 3.5rem 3rem;
  }
}
.prod-summary--logo {
  position: absolute;
  top: -28px;
  transform: translateX(-50%);
}
.prod-summary--bookmark span {
  display: none;
}
@media (min-width: 600px) {
  .prod-summary--bookmark span {
    position: relative;
    z-index: 0;
    display: block;
    padding: 1.25rem 1.5rem 1.25rem 3rem;
    margin-left: -2rem;
    background-color: hsl(var(--clr-light), 0.1);
    border-radius: 0 100px 100px 0;
  }
}
.prod-summary *:last-child {
  gap: 0;
}
.prod-data .flex {
  gap: 1.75rem;
}
@media (min-width: 600px) {
  .prod-data .flex {
    flex-direction: row;
    align-items: stretch;
  }
  .prod-data .flex > * {
    text-align: left;
    width: 33%;
  }
}
.prod-data .divider {
  width: 100px;
  height: 1px;
  background-color: hsl(var(--clr-border));
}
@media (min-width: 600px) {
  .prod-data .divider {
    width: 1px;
    height: auto;
  }
}
.prod-data--progressbar {
  align-self: stretch;
  background-color: hsl(var(--clr-light), 0.15);
}
.prod-data--progressbar_current {
  height: 0.75rem;
  width: 89.914%;
  max-width: 100%;
}
.prod-details .flex {
  gap: 1.5rem;
}
@media (min-width: 600px) {
  .prod-details .flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 600px) {
  .prod-details--plan header {
    display: flex;
    justify-content: space-between;
  }
}

.bookmark {
  position: relative;
  z-index: 1;
  width: 3.5rem;
  aspect-ratio: 1;
  background: url(../images/icon-bookmark.svg) no-repeat;
  background-color: "#2F2F2F";
  background-position: center center;
  border-radius: 50%;
  border: none;
}

.bookmark-marked {
  background: url(../images/icon-bookmark_marked.svg) no-repeat;
  background-color: hsl(var(--clr-secondary));
  background-position: center center;
}

.dataCardPop {
  position: absolute;
  z-index: 9;
  top: -8rem;
  right: 1.5rem;
  left: 1.5rem;
}

.selection {
  display: none;
  position: absolute;
  z-index: 10;
  top: 5rem;
  left: 1.5rem;
  right: 1.5rem;
  margin-top: -13rem;
}
.selection h2 {
  margin-top: 0;
}
.selection-btn-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background: url(../images/icon-close-modal.svg) no-repeat;
  background-position: center center;
}
.selection .plan-card {
  cursor: pointer;
}
.selection-pledge {
  position: relative;
  padding-top: 1.5rem;
}
@media (min-width: 600px) {
  .selection-pledge {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .selection-pledge > .flex {
    margin-top: 0;
  }
}
.selection-pledge::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: calc(100% + 3rem);
  background-color: hsl(var(--clr-light), 0.15);
}
.selection label {
  cursor: pointer;
}
.selection label.fw-700:hover {
  color: hsl(var(--clr-primary));
}
.selection .unavailable label.fw-700:hover {
  color: hsl(var(--clr-dark));
}
.selection input[type=radio] {
  width: 1.5rem;
  aspect-ratio: 1;
  accent-color: hsl(var(--clr-secondary));
  cursor: pointer;
}
.selection input[type=number],
.selection input[type=number]:focus {
  font-weight: 700;
  border: none;
  outline: none;
  text-indent: 0.5rem;
  caret-color: hsl(var(--clr-primary));
}
.selection .input-feild {
  display: flex;
  padding: 1rem 1.5rem;
  border-radius: 100px;
  border: 1px solid hsl(var(--clr-border));
}
@media (min-width: 600px) {
  .selection .input-feild {
    padding-inline: 2rem;
  }
}

@media (min-width: 600px) {
  .selection .plan-card--info {
    gap: 0;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .selection .plan-card--info > *:nth-child(1) {
    width: 65%;
  }
  .selection .plan-card--info > *:nth-child(1) label {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .selection .plan-card--info > *:nth-child(3) {
    width: 35%;
    justify-content: flex-end;
  }
  .selection .plan-card--info > *:nth-child(3) span {
    font-size: var(--fs-600);
  }
  .selection .plan-card--info > *:nth-child(2) {
    padding: 1.5rem 0 0 3rem;
    order: 3;
  }
}
.selected {
  border: 2px solid hsl(var(--clr-primary));
}
.selected label span.block {
  font-weight: 700;
}

.selection-pledge[data-visible=false] {
  display: none;
}

.selection .inputFocus {
  border: 1px solid hsl(var(--clr-primary));
}

.success {
  display: none;
  position: absolute;
  z-index: 10;
  top: -8rem;
  left: 1.5rem;
  right: 1.5rem;
  max-width: 30rem;
  margin-inline: auto;
  background-color: white;
}

.odometer {
  width: 100%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

/*--------------------*/
/* Fotter             */
/*--------------------*/
.attribution {
  font-size: 11px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */