body .bg {
  background: linear-gradient(
      hsl(var(--clr-dark) / 0.5),
      hsl(var(--clr-dark) / 0.5)
    ),
    url(../image/crew/background-crew-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100vh;
}

.content {
  --gap: 2rem;
}

.content-img {
  border-bottom: 1px solid hsl(var(--clr-divider));
}

.content-img > * {
  width: 47.2%;
  margin: 0 auto;
}

.content-txt {
  max-width: 48ch;
  padding: 0 0 3.5rem;
}

.content-txt h2 {
  opacity: 0.5;
}

.content-txt h3 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  body .bg {
    background: linear-gradient(
        hsl(var(--clr-dark) / 0.5),
        hsl(var(--clr-dark) / 0.5)
      ),
      url(../image/crew/background-crew-tablet.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
  }

  .content.flex {
    --gap: 2.5rem;
    flex-direction: column;
    min-height: 79vh;
  }

  .content-img {
    border-bottom: 0;
  }

  .content-img img {
    min-width: 400px;
  }

  .content-txt {
    max-width: 65ch;
    padding: 0;
  }

  .content > .flex {
    flex-direction: column-reverse;
  }
}

@media (min-width: 992px) {
  body .bg {
    background: linear-gradient(
        hsl(var(--clr-dark) / 0.5),
        hsl(var(--clr-dark) / 0.5)
      ),
      url(../image/crew/background-crew-desktop.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .content.flex {
    align-items: flex-end;
    flex-direction: row;
    min-height: 69vh;
  }

  .content-img > img {
    width: 100%;
  }

  .content > .flex {
    width: 65%;
    --gap: 7.5rem;
    padding: 0 0 6rem;
  }

  .content-txt {
    max-width: 100ch;
  }
  .content-txt h3 {
    margin-top: 1rem;
    margin-bottom: 1.75rem;
  }

  .content-txt p {
    max-width: 45ch;
  }
}
