body .bg {
  background: url(../image/technology/background-technology-mobile.jpg)
    no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100vh;
}

.content {
  --gap: 1.875rem;
}

.numbered-indicators {
  justify-content: center;
}

.content-txt {
  padding-bottom: 3.5rem;
}

.content-txt h2 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.img-portrait {
  display: none;
}

@media (min-width: 600px) {
  body .bg {
    background: url(../image/technology/background-technology-tablet.jpg)
      no-repeat;
    background-size: cover;
    background-position: top center;
  }
  .content {
    --gap: 3.125rem;
  }

  .content-txt h2 {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 992px) {
  .container {
    padding-inline: 0;
  }

  .numbered-title {
    padding-inline: 1.5rem;
  }

  .content-txt {
    padding-inline: 1.5rem;
  }
}

@media (min-width: 992px) {
  body .bg {
    background: url(../image/technology/background-technology-desktop.jpg)
      no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .container {
    padding-right: 0;
  }

  .content {
    --gap: 3rem;
    padding-right: 0;
    align-items: center;
  }

  .content > .flex {
    --gap: 5rem;
    flex-direction: row;
    align-items: center;
    min-height: 58vh;
  }

  .content-img {
    order: 3;
  }

  .content-txt h2 {
    margin-top: 1rem;
    margin-bottom: 1.75rem;
  }

  .content-txt p {
    max-width: 43ch;
  }

  .img-landscape {
    display: none;
  }
  .img-portrait {
    display: block;
  }
}
